@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.name {
    font-family: "Pathway Extreme", sans-serif;
}

.background {
    background-color: black;
}

.note {
    font-size: 9px;
}

.background-1 {
    background-image: url('https://res.cloudinary.com/dil7ytaak/image/upload/v1721387109/xjsizcqtxxqnflhrkaoh.jpg');
    background-size: cover;
    height: 500px;
    width: 100%;
}

.certificate-icon {
    height: 40px;
}

.education-icon {
    height: 60px;
}

.certificate {
    height: 200px;
    border-radius: 10px;
}

.nxtwave {
    height: 20px;
}

.srm-logo {
    height: 30px;
}

.from {
    font-style: italic;
    font-size: 10px;
}

.responsive-brief {
    font-size: 10px;
}

.education-place {
    font-size: 10px;
    font-style: italic;
}

.certificate-heading {
    font-size: 14px;
}

.editor-image {
    height: 150px;
}

.tool-logo {
    height: 50px;
    border-radius: 5px;
    margin: 5px;
}

.name-about {
    font-size: 15px;
}

.connect-icon {
    height: 30px;
    border-radius: 8px;
}